/* Main content */
.main {
    padding: 20px;
    font-size: small;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 14pt;
    }
}

.main .page-header {
    margin-top: 0;
}

.ticketsAvailable {
    font-weight: bold;
}

.eventGroup {
    padding-top: .1em;
    padding-bottom: .1em;
}

.eventGroup h5 {
    margin-bottom: .2em;
}

.eventGroup p {
    margin-bottom: .2em;
    margin-left: 1em;
}

body {
    padding-top: 50px;
}
