<!doctype html>
<html lang="en">
<head>
    {{ template "header" "Gencon Events"}}
</head>

<body>
<div class="container">
    {{ template "navbar" .context }}
    <h1 class="pb-2 pt-4 mt-4 mb-3 border-bottom">About</h1>
    <p>
        Well, this is the about page. Fun stuff huh? If you have comments or concerns, feel free to email admin@genconplanner.com.
    </p>
    <p>
        Disclaimers:
        <ul>
        <li>This is a read-only view of gencon exported data. Starring events here does
            <em>nothing</em> on gencon.com</li>
        <li>This site records your email address on sign in, and associates
            starred events. If you want that deleted, email me at admin@genconplanner.com
            and I'll delete the records.</li>
        <li>GenCon updates their export of events ~every 6 hours. This site updates
            every 1 hour. So. There can be a 7 hour lag between when something updates
            on gencon.com and when this site updates.</li>
        </ul>
    </p>
    <p>
        Why bother signing in and starring anything? This is the view you get:
        <img src="/static/img/starred.png" alt="A screenshot of the starred events view." class="img-thumbnail">
    </p>
</div>
</body>

{{ template "scriptFooter" .context }}
</body>
</html>