{{$year := .context.Year}}

<html>
<head>
    {{ template "header" "Gencon Event Categories"}}
</head>

<body>
<div class="container">
  {{ template "navbar" .context }}

  <h1 class="pb-2 pt-4 mt-4 mb-3 border-bottom">{{ $year }} Events by category</h1>
  {{ range $row := .categories }}
        <div class="row">
            {{ range $cat := $row }}
                <div class="col-md-6 col-sm-12 pb-1">
                <a class="border btn btn-light text-center"
                   href="/cat/{{ $year }}/{{ $cat.Code }}"
                   role="button"
                   style="width:100%; white-space:normal">{{ $cat.Name }}
                   <span class="badge badge-pill badge-secondary">{{ $cat.Count }}</span></a>
                </div>
            {{ end }}
        </div>
  {{ else }}
        <h2>Gen Con {{ $year }} events aren't available yet.</h2>
  {{ end }}
</div>

{{ template "scriptFooter" }}
</body>
</html>