{{ $wed := .eventsByDay.Wednesday}}
{{ $thurs := .eventsByDay.Thursday}}
{{ $fri := .eventsByDay.Friday}}
{{ $sat := .eventsByDay.Saturday}}
{{ $sun := .eventsByDay.Sunday}}
{{ $start := .startDate }}

{{ define "eventBlurb" }}

    {{ if .events }}
        <div>
            <h3>{{ .day }}</h3>
            {{ range $e := .events }}
                <div style="padding-left: 3em;">
                    <ul class="list-unstyled">
                        <li>
                            <strong>
                                {{ $e.StartTime.Format "3:04 PM" }} - {{ $e.EndTime.Format "3:04 PM" }}
                            </strong>: <a href="/event/{{ $e.EventId }}">{{ $e.EventId }}</a>
                            {{ $e.Title }} (<a href="{{ $e.GenconLink }}">Official Listing</a>)</li>
                        <li style="padding-left: 2em">{{ $e.ShortDescription }}</li>
                    </ul>
                </div>
            {{ end }}
        </div>
    {{ end }}

{{ end }}

{{ define "categoryEvent" }}
    {{ if .events }}

    <h3>{{ .fullCat }}</h3>

    {{ range $e := .events }}
    <div style="padding-left: 3em;">
        <ul class="list-unstyled">
            <li><strong>
                    {{ $e.StartTime.Format "Monday" }}
                    {{ $e.StartTime.Format "3:04 PM" }} - {{ $e.EndTime.Format "3:04 PM" }}
                </strong>: <a href="/event/{{ $e.EventId }}">{{ $e.EventId }}</a>
                {{ $e.Title }} (<a href="{{ $e.GenconLink }}">Official Listing</a>)
            </li>
            <li>{{ if $e.GameSystem }}{{ $e.GameSystem }} {{ $e.RulesEdition }}{{ end }}</li>
            <li style="padding-left: 2em">{{ $e.ShortDescription }}</li>
        </ul>
    </div>
    {{ end }}
    {{ end }}
{{ end }}

<html>
<head>
    {{ template "header" "Starred Events"}}
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css"/>
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" media="print"/>
    <style>
        .calevent {
            color: #FFFFFF;
        }
        a.calANI, tr.calANI {background-color: #A9177E;}
        a.calBGM, tr.calBGM {background-color: #0073AA;}
        a.calCGM, tr.calCGM {background-color: #6B2355;}
        a.calEGM, tr.calEGM {background-color: #858E95;}
        a.calENT, tr.calENT {background-color: #C94088;}
        a.calFLM, tr.calFLM {background-color: #4B4761;}
        a.calHMN, tr.calHMN {background-color: #2A3181;}
        a.calKID, tr.calKID {background-color: #9470AA;}
        a.calLRP, tr.calLRP {background-color: #AE8B1C;}
        a.calMHE, tr.calMHE {background-color: #E8B51C;}
        a.calNMN, tr.calNMN {background-color: #686F1F;}
        a.calRPG, tr.calRPG {background-color: #448A80;}
        a.calRPGA, tr.calRPGA {background-color: #D67917;}
        a.calSEM, tr.calSEM {background-color: #009CDF;}
        a.calSPA, tr.calSPA {background-color: #A6C749;}
        a.calTCG, tr.calTCG {background-color: #1C944A;}
        a.calTDA, tr.calTDA {background-color: #771F17;}
        a.calTRD, tr.calTRD {background-color: #878F68;}
        a.calWKS, tr.calWKS {background-color: #5E3C03;}
        a.calZED, tr.calZED {background-color: #75B9B8;}
        #eventContent { display: none; }
    </style>
</head>

<body>
{{ template "navbar" .context }}

<div class="container">
<h1 class="page-header">Starred Events</h1>
<div class="row">
    <div class="main col-md-12">
        <ul class="nav nav-tabs nav-justified" id="starredgroup">
            <li class="active"><a href="#calendar-tab" data-toggle="tab" shape="rect">Calendar</a></li>
            <li><a href="#day-tab" data-toggle="tab" shape="rect">By day</a></li>
            <li><a href="#type-tab" data-toggle="tab" shape="rect">By type</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane" id="day-tab">
                {{ template "eventBlurb" (dict "events" $wed "day" "Wednesday") }}
                {{ template "eventBlurb" (dict "events" $thurs "day" "Thursday") }}
                {{ template "eventBlurb" (dict "events" $fri "day" "Friday") }}
                {{ template "eventBlurb" (dict "events" $sat "day" "Saturday") }}
                {{ template "eventBlurb" (dict "events" $sun "day" "Sunday") }}
            </div>
            <div class="tab-pane" id="type-tab">
                {{ template "categoryEvent" (dict "events" .eventsByCategory.ANI "fullCat" "ANI - Anime Activities") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.BGM "fullCat" "BGM - Board Games") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.CGM "fullCat" "CGM - Non-Collectable/Tradable Card Games") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.EGM "fullCat" "EGM - Electronic Games") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.ENT "fullCat" "ENT - Entertainment Events") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.FLM "fullCat" "FLM - Film Fest") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.HMN "fullCat" "HMN - Historical Miniatures") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.KID "fullCat" "KID - Kids Activities") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.LRP "fullCat" "LRP - Larps") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.MHE "fullCat" "MHE - Miniature Hobby Events") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.NMN "fullCat" "NMN - Non-Historical Miniatures") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.RPG "fullCat" "RPG - Role Playing Games") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.RPGA "fullCat" "RPGA - Role Playing Game Association") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.SEM "fullCat" "SEM - Seminiars") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.SPA "fullCat" "SPA - Spousal Activities") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.TCG "fullCat" "TCG - Tradeable Card Game") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.TDA "fullCat" "TDA - True Dungeon") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.TRD "fullCat" "TRD - Trade Day Events") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.WKS "fullCat" "WKS - Workshop") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.ZED "fullCat" "ZED - Isle of Misfit Events") }}
            </div>
            <div class="tab-pane active" id="calendar-tab">
                <!-- This doesn't look as good as it should... -->
                <div id='calendar' class="tab-content" style="padding-top: 10px;"></div>            </div>
            </div>
    </div>
</div>
</div>
{{ template "scriptFooter" }}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.16/moment-timezone-with-data-2012-2022.min.js"></script>

{{/*<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>*/}}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css" integrity="sha512-CN6oL2X5VC0thwTbojxZ02e8CVs7rii0yhTLsgsdId8JDlcLENaqISvkSLFUuZk6NcPeB+FbaTfZorhbSqcRYg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css" integrity="sha512-IBfPhioJ2AoH2nST7c0jwU0A3RJ7hwIb3t+nYR4EJ5n9P6Nb/wclzcQNbTd4QFX1lgRAtTT+axLyK7VUCDtjWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css" integrity="sha512-/Jnt6fX98n8zZyuCt4K81+1eQJhWQn/vyMph1UvHywyziYDbu9DFGcJoW8U73m/rkaQBIEAJeoEj+2Rrx4tFyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js" integrity="sha512-bg9ZLPorHGcaLHI2lZEusTDKo0vHdaPOjVOONi4XLJ2N/c1Jn2RVI9qli4sNAziZImX42ecwywzIZiZEzZhokQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js" integrity="sha512-kebSy5Iu+ouq4/swjgEKwa217P2jf/hNYtFEHw7dT+8iLhOKB5PG5xaAMaVyxRK7OT/ddoGCFrg8tslo8SIMmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js" integrity="sha512-APuj9Rm7J37dj8cRB1qwznH+zrWD7/vkaodDwJVxpdk72m5c9u8mbbdLHn6JnSw5M4AhV8Zb1HnLrNMGoOfR/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script inline="javascript">
    /*<![CDATA[*/
    $('#starredgroup a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    $('#starredgroup a[href="#calendar-tab"]').click(function(e) {
        // The calendar won't render when hidden, so when we select the tab, we need to show it again
        $('#calendar').fullCalendar('render');
    });
    $('#daygroup a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    let events = [
        {{ range $e := .calendarGroups }}{
            title: {{ $e.Title }},
            start: new Date({{ $e.StartTime.Unix }} * 1000),
            end: new Date({{ $e.EndTime.Unix }} * 1000),
            url: {{ $e.PlannerUrl }},
            className: ['cal{{ $e.ShortCategory }}', 'calevent'],
            description: {{ $e.ShortDescription }},
            similarCount: {{ $e.SimilarCount }},
            eventTitle: {{ $e.Title }}
        },
        {{ end }}
    ];
    console.log(events);
    let calendarEl = document.getElementById('calendar');
    let calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid', 'timeGrid' ],
        defaultView: 'genconWeek',
        editable: false,
        defaultDate: '{{ $start }}',
        timezone: 'America/Indiana/Indianapolis',
        nowIndicator: true,
        header: {
            left: 'prev,next',
            center: 'title',
            right: 'timeGridDay,genconWeek' // buttons for switching between views
        },
        events: events,
        views: {
            genconWeek: {
                type: 'timeGrid',
                duration: { days: 5 },
                buttonText: 'week'
            }
        },
        eventRender: function(info, eventObj, $el) {
            let popupTitle = info.event.extendedProps.eventTitle
            if (info.event.similarCount > 1) {
                popupTitle += " (and " + info.event.extendedProps.similarCount + " similar)"
            }

            $(info.el).popover({
                title: popupTitle,
                content: info.event.extendedProps.description,
                trigger: 'hover',
                placement: 'left',
                container: 'body'
            });
        },
        eventClick: function(event) {
            info.jsEvent.preventDefault(); // don't let the browser navigate

            if (event.url) {
                window.open(event.url, "_blank");
            }
        },

    });

    calendar.render();

    function updateCalendar(eventGroups) {
        console.log("Updating events");

        calendar.batchRendering(function() {
            var listEvent = calendar.getEvents();
            listEvent.forEach(event => {
                event.remove()
            });
            for (let i in eventGroups) {
                let group = eventGroups[i]
                let title = group.Title
                if (group.SimilarCount > 1) {
                    title += "\n\n (" + group.SimilarCount + " similar)"
                }
                console.log(group.StartTime);
                calendar.addEvent({
                    title: group.Title,
                    start: group.StartTime,
                    end: group.EndTime,
                    url: group.PlannerUrl,
                    className: ['cal' + group.ShortCategory, 'calevent'],
                    description: group.ShortDescription,
                    similarCount: group.SimilarCount,
                    eventTitle: group.Title
                });
            }
        });
    }

    // If the auth token is expired, we'll return an empty page,
    // so handle it.
    firebase.auth().onAuthStateChanged(function(user) {
        updateSigninWidget();
        $.ajax({
            url: '/listStarredGroups/{{.context.Year}}',
            type: 'GET',
            dataType: 'json',
        }).done(function(data){
            updateCalendar(data);
        });
    });

    /*]]>*/
</script>
</body>

</html>