<!doctype html>
{{ $wed := .eventsByDay.Wednesday}}
{{ $thurs := .eventsByDay.Thursday}}
{{ $fri := .eventsByDay.Friday}}
{{ $sat := .eventsByDay.Saturday}}
{{ $sun := .eventsByDay.Sunday}}
{{ $start := .startDate }}
{{ $end := .endDate }}

{{- define "eventBlurb" -}}
    {{- if .events -}}
        <div>
            <h3>{{ .day }}</h3>
            {{ range $e := .events }}
                <div style="padding-left: 3em;">
                    <ul class="list-unstyled">
                        <li>
                            <strong>
                                {{ $e.StartTime.Format "3:04 PM" }} - {{ $e.EndTime.Format "3:04 PM" }}
                            </strong>: <a href="/event/{{ $e.EventId }}">{{ $e.EventId }}</a>
                            {{ $e.Title }} (<a href="{{ $e.GenconLink }}">Official Listing</a>)</li>
                        <li style="padding-left: 2em">{{ $e.ShortDescription }}</li>
                    </ul>
                </div>
            {{ end }}
        </div>
    {{- end -}}
{{- end -}}

{{- define "categoryEvent" -}}{{- if .events -}}
    <h3>{{ .fullCat }}</h3>
    {{ range $e := .events }}
    <div style="padding-left: 3em;">
        <ul class="list-unstyled">
            <li><strong>
                    {{ $e.StartTime.Format "Monday" }}
                    {{ $e.StartTime.Format "3:04 PM" }} - {{ $e.EndTime.Format "3:04 PM" }}
                </strong>: <a href="/event/{{ $e.EventId }}">{{ $e.EventId }}</a>
                {{ $e.Title }} (<a href="{{ $e.GenconLink }}">Official Listing</a>)
            </li>
            <li>{{ if $e.GameSystem }}{{ $e.GameSystem }} {{ $e.RulesEdition }}{{ end }}</li>
            <li style="padding-left: 2em">{{ $e.ShortDescription }}</li>
        </ul>
    </div>
    {{ end }}
{{- end -}}{{- end -}}

<html>
<head>
    {{ template "header" "Starred Events"}}
    <script>
        const colors = new Map([
            ['ANI', '#A9177E'],
            ['BGM', '#0073AA'],
            ['CGM', '#6B2355'],
            ['EGM', '#858E95'],
            ['ENT', '#C94088'],
            ['FLM', '#4B4761'],
            ['HMN', '#2A3181'],
            ['KID', '#9470AA'],
            ['LRP', '#AE8B1C'],
            ['MHE', '#E8B51C'],
            ['NMN', '#686F1F'],
            ['RPG', '#448A80'],
            ['RPGA', '#D67917'],
            ['SEM', '#009CDF'],
            ['SPA', '#A6C749'],
            ['TCG', '#1C944A'],
            ['TDA', '#771F17'],
            ['TRD', '#878F68'],
            ['WKS', '#5E3C03'],
            ['ZED', '#75B9B8'],
        ]);
    </script>
</head>

<body>
{{ template "navbar" .context }}

<div class="container">
<h1 class="pb-2 pt-4 mt-4 mb-3 border-bottom">Starred Events</h1>
<div class="row">
    <div class="main col-md-12">
        <ul class="nav nav-tabs nav-fill" id="starredgroup">
            <li class="nav-item">
                <a href="#calendar-tab" class="nav-link active" role="tab" data-toggle="tab" aria-current="page" aria-controls="calendar-tab" aria-selected="true">Calendar</a>
            </li>
            <li class="nav-item">
                <a href="#day-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="day-tab" aria-selected="false">By day</a>
            </li>
            <li class="nav-item">
                <a href="#type-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="type-tab" aria-selected="false">By type</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" id="starredgroupContent">
            <div class="tab-pane active mt-4" id="calendar-tab">
                <!-- This doesn't look as good as it should... -->
                <div id='calendar' class="tab-content"></div>
            </div>
            <div class="tab-pane mt-4" id="day-tab">
                {{ template "eventBlurb" (dict "events" $wed "day" "Wednesday") }}
                {{ template "eventBlurb" (dict "events" $thurs "day" "Thursday") }}
                {{ template "eventBlurb" (dict "events" $fri "day" "Friday") }}
                {{ template "eventBlurb" (dict "events" $sat "day" "Saturday") }}
                {{ template "eventBlurb" (dict "events" $sun "day" "Sunday") }}
            </div>
            <div class="tab-pane mt-4" id="type-tab">
                {{ template "categoryEvent" (dict "events" .eventsByCategory.ANI "fullCat" "ANI - Anime Activities") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.BGM "fullCat" "BGM - Board Games") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.CGM "fullCat" "CGM - Non-Collectable/Tradable Card Games") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.EGM "fullCat" "EGM - Electronic Games") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.ENT "fullCat" "ENT - Entertainment Events") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.FLM "fullCat" "FLM - Film Fest") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.HMN "fullCat" "HMN - Historical Miniatures") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.KID "fullCat" "KID - Kids Activities") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.LRP "fullCat" "LRP - Larps") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.MHE "fullCat" "MHE - Miniature Hobby Events") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.NMN "fullCat" "NMN - Non-Historical Miniatures") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.RPG "fullCat" "RPG - Role Playing Games") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.RPGA "fullCat" "RPGA - Role Playing Game Association") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.SEM "fullCat" "SEM - Seminiars") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.SPA "fullCat" "SPA - Spousal Activities") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.TCG "fullCat" "TCG - Tradeable Card Game") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.TDA "fullCat" "TDA - True Dungeon") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.TRD "fullCat" "TRD - Trade Day Events") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.WKS "fullCat" "WKS - Workshop") }}
                {{ template "categoryEvent" (dict "events" .eventsByCategory.ZED "fullCat" "ZED - Isle of Misfit Events") }}
            </div>
        </div>
    </div>
</div>
</div>
{{ template "scriptFooter" }}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.16/moment-timezone-with-data-2012-2022.min.js"></script>

<link href='//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>

<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>

<script inline="javascript">
    /*<![CDATA[*/
    $('#starredgroup a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    $('#starredgroup a[href="#calendar-tab"]').click(function(e) {
        // The calendar won't render when hidden, so when we select the tab, we need to show it again
        $('#calendar').fullCalendar('render');
    });
    $('#daygroup a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    let events = [
        {{ range $e := .calendarGroups }}{
            title: {{ $e.Title }},
            start: new Date({{ $e.StartTime.Unix }} * 1000),
            end: new Date({{ $e.EndTime.Unix }} * 1000),
            url: {{ $e.PlannerUrl }},
            backgroundColor: colors.get('{{ $e.ShortCategory}}'),
            description: {{ $e.ShortDescription }},
            similarCount: {{ $e.SimilarCount }},
        },
        {{ end }}
    ]
    let calendarEl = document.getElementById('calendar');
    let calendar = new FullCalendar.Calendar(calendarEl, {
        navLinks: false,
        initialView: 'genconWeek',
        editable: false,
        initialDate: '{{ $start }}',
        timeZone: 'America/Indiana/Indianapolis',
        nowIndicator: true,
        headerToolbar: {
            left: 'prev,next',
            center: 'title',
            right: 'timeGridDay,genconWeek' // buttons for switching between views
        },
        events: events,
        views: {
            genconWeek: {
                type: 'timeGrid',
                duration: { days: 5 },
                buttonText: 'week',
            }
        },
        eventDidMount: function(info) {
            $(info.el).attr("data-bs-toggle", "popover");
            $(info.el).attr("data-bs-trigger", "hover focus");
            $(info.el).attr("title", info.event.title);
            $(info.el).attr("data-bs-content", info.event.extendedProps.description);
            new bootstrap.Popover(info.el);
            // $(info.el).popover({
            //     title: info.event.title,
            //     content: info.event.extendedProps.description,
            //     trigger: 'hover',
            //     placement: 'left',
            //     container: 'body'
            // });
        },
        eventClick: function(event) {
            if (event.event.url) {
                event.jsEvent.preventDefault();
                window.open(event.event.url, "_blank");
            }
        },

    });

    calendar.render();

    function updateCalendar(eventGroups) {
        calendar.batchRendering(function() {
            var listEvent = calendar.getEvents();
            listEvent.forEach(event => {
                event.remove()
            });
            for (let i in eventGroups) {
                let group = eventGroups[i]
                calendar.addEvent({
                    title: group.Title,
                    start: group.StartTime,
                    end: group.EndTime,
                    url: group.PlannerUrl,
                    backgroundColor: colors.get(group.ShortCategory),
                    description: group.ShortDescription,
                    similarCount: group.SimilarCount,
                });
            }
        });
    }

    // If the auth token is expired, we'll return an empty page,
    // so handle it.
    firebase.auth().onAuthStateChanged(function(user) {
        updateSigninWidget();
        $.ajax({
            url: '/listStarredGroups/{{.context.Year}}',
            type: 'GET',
            dataType: 'json',
        }).done(function(data){
            updateCalendar(data);
        });
    });

    /*]]>*/
</script>
</body>

</html>